<!doctype html>

<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<head><font face="URW Bookman L" size="200%px">
  About Us
</head></font>


<body><font face="URW Bookman L">
  <div class="container">
    <div class="row">
      Name: Caroline Clancy
    </div>

    <div class="row">
      School: The Ursuline School
    </div>

    <div class="row">
    Grade: 12
    </div>

    <div class="row">
      App Name: Monogram Maker
    </div>

    <div class="row">

    </div>

    <div class="row">
      The monogram maker application takes input from the user and creates a personalized desktop wallpaper. The user can customize the font style the background pattern.
    </div>

  </div>

</font></body>




</html>